.menu-item {
    background: #0d47a1;
    border-radius: 100%;
    width: 10rem;
    height: 8rem;
    margin-left: -5rem;
    position: absolute;
    color: #FFFFFF;
    text-align: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-out 200ms;
    transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    &:not(.side) h5 {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        justify-content: center;
        align-items: center;
        mat-icon {
            font-size: 1rem !important;
        }
    }
    &:hover {
        background: #EEEEEE;
        color: #3290B1;
        cursor: pointer;
    }
    &:active {
        background: black;
        color: white;
        cursor: pointer;
    }
}
.menu {
     margin: auto;
     position: fixed;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     width: 20%;
     height: 8rem;
     text-align: center;
     box-sizing: border-box;
     font-size: 1.5rem;
     &:before {
         content: "";
         border: solid #0d47a1;
         border-width: 0 0.4rem .4rem 0;
         display: block;
         transform: rotate(45deg);
         -webkit-transform: rotate(45deg);
         position: fixed;
         bottom: 2rem;
         width: 2rem;
         height: 2rem;
         right: 2rem;
         border-radius: .25rem;
         box-shadow: 8px 8px 0.5rem rgba(13, 71, 161, .35);
     }
     &.side {
         display: flex;
         margin-left: .5rem;
         flex-direction: column;
         justify-content: center;
         height: 90%;
         h5 {
             width: 100%;
             margin: auto;
             display: flex;
             padding: .5rem;
             flex-direction: row;
             justify-content: space-between;
             mat-icon {
                 font-size: 1rem !important;
             }
         }
         .menu-item {
             display: flex;
             position: relative;
             margin: 0.5rem auto;
             font-size: 1.15rem;
             line-height: normal;
             height: 3rem;
             width: 90%;
             border-radius: .3rem;
             text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
         }
     }
 }
 
 .menu-open-button {
     z-index: 2;
     width: 10rem;
     height: 8rem;
     text-shadow: 0.1rem 0.1rem .5rem rgb(0,0,0,.85);
     color: white;
     -webkit-text-fill-color: white;
     margin-left: -5rem;
     position: absolute;
     text-align: center;
     -webkit-transition: -webkit-transform ease-out 400ms;
     transition: -webkit-transform ease-out 400ms;
     transition: transform ease-out 400ms;
     transition: transform ease-out 400ms, -webkit-transform ease-out 200ms;
     -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
     transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
     -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
     transform: scale(1.1, 1.1) translate3d(0, 0, 0);
 }
 .menu:not(.side) .menu-item {
     &:nth-child(3) {
         -webkit-transform: translate3d(0px, -11rem, 0);
         transform: translate3d(0px, -11rem, 0);
     }
     &:nth-child(4) {
         -webkit-transform: translate3d(10rem, -5rem, 0);
         transform: translate3d(10rem, -5rem, 0);
     }
     &:nth-child(5) {
         -webkit-transform: translate3d(10rem, 5rem, 0);
         transform: translate3d(10rem, 5rem, 0);
     }
     &:nth-child(6) {
         -webkit-transform: translate3d(0px, 11rem, 0);
         transform: translate3d(0px, 11rem, 0);
     }
     &:nth-child(7) {
         -webkit-transform: translate3d(-10rem, 5rem, 0);
         transform: translate3d(-10rem, 5rem, 0);
     }
     &:nth-child(8) {
         -webkit-transform: translate3d(-10rem, -5rem, 0);
         transform: translate3d(-10rem, -5rem, 0);
     }
     &:nth-child(9) {
         -webkit-transform: translate3d(0px, -11rem, 0);
         transform: translate3d(0px, -11rem, 0);
     }
 }
 $button-colors: (
     "blue":#669AE1,
     "green":#70CC72,
     "red":#FE4365,
     "purple":#C49CDE,
     "orange":#FC913A,
     "lightblue":#62C2E4
     );
 @each $name, $color in $button-colors { 
    .#{$name} {
        background-color: $color;
        &:hover {
         color: $color;
         text-shadow: none;
        }
    }
  }

 .page-block {
     height: 90vh;
     width: 100%;
     display: flex;
     background-color: lightcyan;
     position: relative;
     z-index: -1;
     &:first-of-type {
        background-color: rgb(225, 228, 232);
        background-image: url("/assets/img/Newark_Flyby.gif");
        background-size: cover;
        background-blend-mode: color-burn;
     }
 }
 
 .page-block-text {
     display: inline-flex;
     height: 85%;
     width: 75%;
     background-color: white;
     left: 21%;
     top: 5%;
     position: absolute;
     border-radius: .25rem;
     box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, .2);
 }