<section class="splash">
    <div class="splash-image" *ngIf="homePage.splashImg">
        <img src="{{homePage.splashImg.src}}" alt="{{homePage.splashImg.alt}}">
    </div>
    <div class="splash-header">
        <span class="toolbar-spacer left-space"></span>
        <span class="splash-title">
            <h2>{{ homePage.splashTitle }}</h2>
        </span>
        <span class="toolbar-spacer right-space"></span>
    </div>
    <div class="splash-body">
        <span class="toolbar-spacer left-space"></span>
        <span class="splash-subtitle">
            <div *ngIf="homePage.splashBlurb" style="color: white;-webkit-text-fill-color: white !important;">
                <p [innerHtml]="homePage.splashBlurb.text"></p>
                <div class="splash-blurb-btns" *ngIf="homePage.splashBlurb.buttons">
                    <button *ngFor="let button of homePage.splashBlurb.buttons" mat-stroked-button
                        [routerLink]="[button.parent, button.link]" (click)="goTo(button.extUrl)">
                        {{ button.text }}
                        <mat-icon>exit_to_app</mat-icon>
                    </button>
                </div>
                <span *ngIf="homePage.officer">{{ homePage.officer.name }}
                    <span class="officer-position"
                        *ngIf="homePage.officer.position">{{ homePage.officer.position }}</span>
                    <img *ngIf="homePage.officer.flair" [src]="'assets/img/' + homePage.officer.flair"
                        class="officer-flair">
                </span>
            </div>
            <img *ngIf="homePage.officer && homePage.officer.pic" [src]="'assets/img/people/' + homePage.officer.pic"
                class="officer-pic">
        </span>
        <span class="toolbar-spacer right-space"></span>
    </div>
</section>
<section class="content-intro" *ngIf="homePage.contentIntro">
    <div [ngClass]="homePage.contentIntro.right ? 'content-intro left' : 'content-intro'">
        <h4 *ngIf="homePage.contentIntro.header">
            <mat-icon style="margin: 0 .5rem;vertical-align: bottom;">event</mat-icon>{{ homePage.contentIntro.header }}
        </h4>
        <p *ngIf="homePage.contentIntro.text">{{ homePage.contentIntro.text }}</p>
        <div class="content-intro-btns">
            <button *ngFor="let button of (nextevents | async); let i = index" class="event"
                (click)="openEvent(button)">
                <div><b>{{ button.title }}</b><br><span>{{ button.start | date:'short' }}</span></div>
            </button>
            <button class="dashboard-btn" *ngIf="office !=='/ehd'" [routerLink]="[office,'virtualhearing']">
                <mat-icon>live_tv</mat-icon>
                <span>Virtual Hearing</span>
                <span>Dashboard</span>
            </button>
        </div>
        <h4 *ngIf="homePage.contentIntro.footer">{{ homePage.contentIntro.footer }}</h4>
    </div>
    <div class="content-intro right" *ngIf="homePage.contentIntro.right">
        <h3>{{ homePage.contentIntro.right.text }}</h3>
        <mat-icon>arrow_downward</mat-icon>
    </div>
</section>
<section class="section-blocks">
    <mat-card class="section-block" style="box-shadow: none;">
        <mat-accordion [multi]="expansionMulti$ | async">
            <mat-expansion-panel *ngFor="let cat of homePage.buttonCategories" [expanded]="expansionOpen$ | async"
                [hideToggle]="expansionDisabled$ | async">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h3>
                            {{ cat }}
                        </h3>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="program-cards">
                    <mat-card [ngClass]="card.disabled ? 'disabled' : ''"
                        [routerLink]="card.disabled ? undefined : [card.parent, card.link]" [queryParams]="card.params"
                        (click)="card.disabled ? '' : goTo(card.extUrl)" class="program-card"
                        *ngFor="let card of homePage.buttons | FilterCatPipe:filterCat(cat)">
                        <div class="button-card">
                            <mat-icon style="margin-right: .5rem" [ngStyle]="card.icon === 'newarkgo' ? {'width': '3rem','height': '2rem'} : ''" [svgIcon]="card.icon === 'newarkgo' ? 'newarkgo' : undefined">{{ card.icon }}</mat-icon>
                            <h4 style="margin: auto">{{ card.title }}</h4>
                            <mat-icon style="margin-left: .5rem">exit_to_app</mat-icon>
                        </div>
                        <div class="card-content">
                            <span *ngIf="card.new" class="newBtn">new</span>
                            <mat-icon *ngIf="card.subtexticon">{{ card.subtexticon }}</mat-icon>
                            <span [innerHtml]="card.subtext"></span>
                        </div>
                    </mat-card>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card>
    <mat-card class="section-block" *ngFor="let card of homePage.sections; let i = index;">
        <mat-card-header *ngIf="card.header">
            <mat-card-title>{{ card.header }}</mat-card-title>
        </mat-card-header>
        <div class="card-body" *ngIf="!card.list" [innerHtml]="card.text"></div>
        <div class="card-list" *ngIf="card.list">
            <ul class="text-list">
                <li *ngFor="let item of card.list">
                    <b>{{item.text}}</b><span *ngIf="item.subText"> | <i>{{item.subText}}</i></span>
                </li>
            </ul>
        </div>
        <mat-card-actions align="end" *ngIf="card.buttons">
            <button *ngFor="let button of card.buttons" mat-stroked-button
                [ngClass]="button.fullWidth === true ? 'full-width-button' : 'info-buttons'"
                [routerLink]="button.link ? [button.parent, button.link] : undefined"
                [queryParams]="button.params ? button.params : undefined" (click)="goTo(button.extUrl)">
                <mat-icon>{{ button.icon ? button.icon : 'exit_to_app' }}</mat-icon>
                {{ button.text }}
            </button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="section-block contact" *ngIf="homePage.contact">
        <mat-card-header>
            <mat-card-title>How to Contact Us</mat-card-title>
        </mat-card-header>
        <div class="card-body" style="text-align: center">
            <table class="text-table" *ngFor="let contact of homePage.contact.contacts">
                <tr style="display: flex; justify-content: space-between; align-items: center;">
                    <td rowspan="2"><b>{{contact.text}}</b></td>
                    <td style="display: flex; justify-content: space-between; align-items: center;">
                        <img [src]="contact.img" style="max-width: 6rem;border-radius: .5rem;margin-right: 1rem;">
                        <div>
                        <p style="line-height: .5rem;font-weight: 400;font-size: 1.7rem;"
                            [innerHtml]="contact.officer"></p>
                        <p style="line-height: .5rem; font-weight: 200; font-size: 1.15rem;"
                            [innerHtml]="contact.officerTitle">
                        </p>
                        </div>
                    </td>
                    <td>
                        <p style="font-size: 1rem">
                            <span>Room {{contact.room}}</span><br>
                            <span>902 Broad Street</span><br>
                            <span>Newark, NJ 07102</span>
                        </p>
                    </td>
                    <td>
                        <div class="flex-row justify-content-around">
                            <p style="font-size: 1rem">
                                <span>Tel: <a [href]="'tel:+1'+contact.phone">({{contact.phone.slice(0,3)}})
                                        {{contact.phone.slice(3,6)}}-{{contact.phone.slice(6)}}</a></span><br>
                                <span>Fax: <a [href]="'tel:+1'+ contact.fax">({{contact.fax.slice(0,3)}})
                                        {{contact.fax.slice(3,6)}}-{{contact.fax.slice(6)}}</a></span><br>
                                <span>Email: <a [href]="'mailto:'+ contact.email">{{contact.email}}</a></span>
                            </p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </mat-card>
</section>
<app-footer></app-footer>