
.file-list-control {
    display: flex;
    flex-direction: column;
    background: whitesmoke;
    flex: 1 1 auto;
    padding: 0.5rem;
    @media screen and (max-width: 768px) {
        margin: 0.5rem;
    }
}

.filterLabel {
    margin: .5rem 1rem;
    display: flex;
}

.filterTagList {
    flex: 1 1 45%;
    background-color: white;
    margin: .5rem;
    border-radius: .25rem;
    overflow-y: auto;
    max-height: 15rem;
    scrollbar-width: thin !important;

    mat-list-option {
        font-size: 1rem;
        font-weight: 500;
    }
}
.tree-invisible {
    display: none;
  }
  .files-tree {
    box-shadow: inset 0 0 0.25rem rgba(0, 0, 0, 0.3);
    border-radius: .25rem;
    ul,li {
      margin-top: 0;
      margin-bottom: 0;
      list-style-type: none;
      cursor: pointer;
      user-select: none;
      -webkit-user-select: none;
    }
  }
  .mat-tree-node {
      height: 2rem;
      font-size: 1rem;
      &:hover {
        background: rgba(50,200,250,.1);
        border-radius: .25rem;
        box-shadow: 0.1rem 0.1rem 0.5rem rgba(0,0,0,.1);
      }
  }
.mat-row {
    max-height: unset !important;
    border: none;
    width: 100%;
    padding: .66rem;
}
.table-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 55%;
    margin: 0 .85rem .85rem .85rem;
}
.selected {
    font-weight: 600;
    background: rgba(194, 249, 230, 0.1)
}