<mat-toolbar class="title">
  <mat-icon style="margin-right: .5rem">live_tv</mat-icon>
  <h2>Virtual Hearings Dashboard</h2>
  </mat-toolbar>
  <mat-tab-group [selectedIndex]="currentTab" id="appTabs">
      <mat-tab *ngFor="let tab of boardTabs">
        <ng-template mat-tab-label>
          <mat-icon style="margin-right: 1rem">live_tv</mat-icon>
          <h4>{{tab.label}}</h4>
        </ng-template>
        <div class="flex-row justify-content-center">
          <app-event-detail *ngIf="(tab.data | async) as data" class="cols-8" style="margin: 1rem;"
          [board]="data.board"></app-event-detail>
        </div>
      </mat-tab>
    </mat-tab-group>
    <app-footer></app-footer>