<mat-toolbar>
    <div class="title">
      <mat-icon style="margin-right: .5rem">{{ page.splashIcon }}</mat-icon>
      <h2>{{ page.splashTitle }}</h2>
    </div>
  </mat-toolbar>
  <section class="content-intro" *ngIf="page.contentIntro">
    <div [ngClass]="page.contentIntro.right ? 'content-intro left' : 'content-intro'">
      <h4 *ngIf="page.contentIntro.header">{{ page.contentIntro.header }}</h4>
      <p *ngIf="page.contentIntro.text" style="text-align: left;margin: 1.5rem auto; max-width: 800px; text-align-last: center;">{{ page.contentIntro.text }}</p>
      <div class="content-intro-btns" *ngIf="page.contentIntro.events">
        <button *ngFor="let button of page.contentIntro.events" mat-stroked-button [routerLink]="[button.parent, button.link]" (click)="goTo(button.extUrl)">
          <mat-icon *ngIf="button.icon; else: icon">{{ button.icon }}</mat-icon>
          <b>{{ button.event }}</b><br>{{ button.date }}
          <ng-template #icon><mat-icon>exit_to_app</mat-icon></ng-template>
        </button>
      </div>
      <h4 *ngIf="page.contentIntro.footer">{{ page.contentIntro.footer }}</h4>
    </div>
    <div class="content-intro right" *ngIf="page.contentIntro.right">
        <h3>{{ page.contentIntro.right.text }}</h3>
        <mat-icon>arrow_downward</mat-icon>
    </div>
  </section>
  <mat-list class="program-cats">
    <mat-list-item>
      <mat-accordion id="accordion" [multi]="false" #accordion>
        <mat-expansion-panel *ngFor="let cat of []">
          <mat-expansion-panel-header (click)="headerClick()">
            <mat-panel-title>
              <h3>
                {{ cat | titlecase}}
              </h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="staff-cards">
            <mat-card *ngFor='let data of data$ | FilterCatPipe:filterCat(cat)' class="staff-card">
                <mat-card-header class="flex-row">
                  <img src="{{ data.Headshot }} " class='card-image cols-3' />
                  <div class="cols-7">
                    <mat-card-title>
                        <h2 class="card-title">{{ data.NameFirst }} {{ data.NameLast }} {{ data.NameExtra }}</h2>
                    </mat-card-title>
                    <mat-card-subtitle>
                        <h3 innerHtml="{{ data.Position }}"></h3>
                    </mat-card-subtitle>
                  </div>
                </mat-card-header>
                <div class="card-content">
                    <p *ngIf="data.Hierarchy < 3" innerHtml="{{ data.Bio }}"></p>
                </div>
                <mat-card-actions>
                    <button mat-stroked-button (click)="copyVal(data.Room, 'Room Number')">
                        <mat-icon>room</mat-icon>
                        City Hall | Room {{ data.Room }}
                    </button>
                    <button mat-stroked-button (click)="copyVal(data.Phone, 'Phone Number')">
                        <mat-icon>call</mat-icon>
                        {{ data.Phone }}
                    </button>
                    <button mat-stroked-button class="btn-email" (click)="copyVal(data.Email, 'Email')">
                        <mat-icon>email</mat-icon>
                        {{ data.Email }}
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-list-item>
  </mat-list>
  <app-footer></app-footer>