:host {
  font-family: "Segoe UI", "Open Sans", sans-serif;
  font-size: 16px;
}
.mat-toolbar {
  h2 {font-weight: 600;
    white-space: normal !important;
    line-height: normal !important;}
  h3 {
    font-size: 1.2rem;
    white-space: normal !important;
    line-height: normal !important;
  }
  .mat-icon {margin-top: .25rem;}
  .title {display: flex; height: 2.5rem;}
  .subtitle {
    height: 2rem !important;
    line-height: 0;
    margin: 0;
    padding-left: 4rem;
    color: gray;
    -webkit-text-fill-color: gray;
    @media only screen and (max-width: 769px) {
      padding-left: .5rem;
    }
  }
  min-height: 2.85rem !important;
  flex-direction: column;
  align-items: flex-start;
  background: linear-gradient(rgba(183, 28, 28, 0.15) 0%, white 100%);
  padding: .5rem 0 .5rem calc(10vw + 5rem) !important;
  @media only screen and (max-width: 769px) {
    padding: .5rem 0 .5rem 1rem !important;
    h2 {font-size: 1.2rem;}
    h3 {font-size: 1rem;}
  }
  @media only screen and (max-width: 576px) {
    padding: .5rem 0 .5rem 1rem !important;
    h2 {font-size: 1.15rem;}
    h3 {font-size: 1rem;}
  }
}
.splash {
  display: flex;
  flex-direction: column;
  height: 66vh;
  background-color: rgba(13, 71, 161, .85);
  .splash-title {
    display: flex;
    flex-direction: row;
    line-height: normal;
    align-self: flex-end;
    color: #fff;
    -webkit-text-fill-color: #fff;
    border-radius: .5rem;
    margin: 4rem auto 1rem 2rem !important;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: bold;
    display: flex;
    border-radius: .2rem;
    z-index: 1;
    @media screen and (max-width: 576px) {
      font-size: 1.5rem;
      padding: .15rem 1rem;
    }
    @media screen and (min-width: 576px) and (max-width: 768px) {
      font-size: 1.85rem;
      padding: .15rem 1rem;
  }
  }
}
.splash-image {
  position: absolute;
  z-index: 0;
  height: 66vh !important;
  width: 100% !important;
  overflow: hidden;
  opacity: .5;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      filter: drop-shadow(2px 2px 2px);
      -webkit-filter: drop-shadow(2px 2px 2px);
  }
}
.splash-blurb {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 1rem 40% auto 2rem;
  font-size: 1.5rem;
  line-height: normal;
  color: white;
  -webkit-text-fill-color: white;
  border: .1rem rgb(13, 71, 161, 1) solid;
  border-radius: 0.3rem;
  padding: 1rem;
  z-index: 1;
  background-color: rgb(13, 71, 161,0.5);
  a, a:link, a:visited, a:active {
    color: white !important;
    -webkit-text-fill-color: white !important;
    font-weight: 600;
  }
}
.splash-blurb-btns {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-end !important;
  flex-wrap:wrap;
  line-height: 1rem !important;
  padding: 0 !important;
  button {
    color: black;
    -webkit-text-fill-color: black;
    background-color: white;
    font-size: 1rem !important;
    flex: 1 1 30%;
    margin: .5rem !important;
    .mat-icon {line-height: 1.25rem !important;}
    .mat-button-wrapper {
    padding: 0 .5rem !important;
    height: 2rem !important;
    }
  }
}
.content-intro {
  display: flex;
  flex-direction: row;
  background-color: white;
  align-items: flex-start;
  padding: 2rem;
  font-size: 1.4rem !important;
  justify-content: center;
  .left, .right, .middle {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1 1 50%;
    align-items: flex-start;
    max-width: 34rem;
    h2 {margin: 2rem 1rem; }
    img {
      min-height: 18rem;
      max-height: 66vh;
      width: 100%;
      // -o-object-fit: cover;
      // object-fit: cover;
      border-radius: .25rem;
      margin: 0 1rem auto auto;
    }
  .text {
      font-size: 1.15rem;
      margin-block-start: 0;
      padding: 0 1rem;
      line-height: 1.75rem;
    }
  }
  .middle {
    flex: 1 1 auto;
    max-width: 85vw;
  }
}
.content-intro-btns {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  line-height: 1rem !important;
  border-radius: .4rem !important;
  margin: auto .5rem;
  width: 100%;
  border: .1rem solid rgba(0,0,0,.2);
  overflow: hidden;
  .event {
    background-color: white;
    color: #0d47a1;
    -webkit-text-fill-color: #0d47a1;
    &:hover {box-shadow: none; background-color:rgb(223, 251, 232)}
    &:active {box-shadow: none; background-color: rgba(255, 255, 224, .25)}
  }
  button {
    border: none;
    font-size: 1rem !important;
    flex: 1 1 33%;
    margin: 0;
    line-height: 1rem !important;
    cursor: pointer;
    &:first-of-type {
      border-right: .1rem aliceblue solid;
    }
    div {
      font-size: 1.1rem !important;
      line-height: 1rem !important;
      padding: .25rem !important;
      :last-child {font-size: 1rem !important; white-space: nowrap;}
    }
    @media screen and (max-width: 768px) {
      height: 3rem !important;
      flex-direction: row !important;
      justify-content: center;
      span:first-of-type {
        margin: 0 .25rem 0 1rem;
      }
    }
  }
  .dashboard-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem !important;
    background-color: black;
    color: white;
    -webkit-text-fill-color: white;
    border: none;
    span:first-of-type {white-space: nowrap;}
    &:hover {box-shadow: none; background-color: #0d47a1}
    &:active {box-shadow: none; background-color: rgba(255, 255, 224, .25)}
    @media screen and (max-width: 992px) {
      height: 2rem !important;
      flex-direction: row !important;
      justify-content: center;
      span:first-of-type {
        margin: 0 .25rem 0 1rem;
      }
    }
  }
}
.section-blocks {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-block {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem;
  &:first-of-type,
  &:nth-of-type(3),
  &:nth-of-type(5) {
    border: 0.85px black solid;
    background-position: center !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-blend-mode: color !important;
    color: white;
    -webkit-text-fill-color: white;
    &.faq-card {
      background: rgba(0, 0, 0, 0.3) !important;
    }
  } 
  app-faq {
    color: inherit;
    -webkit-text-fill-color: initial;
  }
  .mat-card-title {
    font-weight: 100 !important;
    font-size: 2rem;
    line-height: normal;
  }
  .card-body {
    padding: 1rem;
    font-size: 1.15rem;
    line-height: 2rem;
  }
  &.acknowledgments {
    color: black;
    -webkit-text-fill-color: black;
    background-color: rgba(13, 71, 161, 0.15);
    margin: 0;
    box-shadow: none;
    .mat-card-header {
      width: 66%;
      padding: .5rem .5rem 0 0;
      background-color: white;
      margin-left: 1rem;
      border: .05rem solid lightcoral;
      border-width: 0 .1rem .1rem 0;
      border-radius: .15rem .5rem .15rem .5rem;
    }
  }
  &.contact {
    background: rgba(0,0,0,.3);
    color: white;
    -webkit-text-fill-color: white;
    padding: 2rem;
    margin: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    .card-body {
      text-align: center;
      background: white;
      color: rgba(0,0,0,.5);
      -webkit-text-fill-color: rgba(0,0,0,.5);
      border-radius: .3rem;
      margin-top: 2rem;
    }
  }
}

.info-buttons {
  color: white !important;
  -webkit-text-fill-color: white !important;
  border-color: white;
  width: 100%;
  display: flex;
  flex: 1 1 30%;
  justify-content: space-evenly;
  margin: .5rem !important;
  padding: .5rem;
  &:hover {background-color: grey}
  &:active {box-shadow: none; background-color: rgba(255, 255, 224, .25)}
  }
  .full-width-button {
    color: rgb(13, 71, 161) !important;
    -webkit-text-fill-color: rgb(13, 71, 161) !important;
    border-color: rgba(13, 71, 161, 0.66);
    width: 100% !important;
    margin: 1% !important;
    display: flex;
    flex: 1 1 95%;
    justify-content: center;
    box-shadow: .1px .1px 4px rgba(0,0,260,.4);
    font-weight: 600;
    }
@media screen and (min-width: 576px) and (max-width: 768px) {
  .content-intro {
    font-size: 1rem;
    flex-direction: column;
    .left, .right, .middle {
      margin: auto;
    }
  }
}
@media screen and (max-width: 576px) {
  .content-intro {
    font-size: 1rem;
    flex-direction: column;
    
    .left, .right, .middle {
      margin: auto;
    }
  }
  .splash-blurb {
    margin: 1rem;
  }
  .section-block {
    margin: 1rem;
    .card-body {
      padding: .5rem;
    }
  }
}
