<div [formGroup]="form">
    <mat-form-field appearance="outline" class="block">
        <mat-label [attr.for]="'block' + index">Block {{ index }}</mat-label>
        <input matInput
            [id]="'block' + index"
            [formControlName]="'block' + index"
            type="number"
            [placeholder]="0000"
            required>
        <mat-hint align="end">block number</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" class="lot">
      <mat-label [attr.for]="'lot'+ index">Lot {{index}}</mat-label>
      <input matInput
          [id]="'lot' + index"
          [formControlName]="'lot' + index"
          type="number"
          [placeholder]="0000"
          required>
          <mat-hint align="end">lot number</mat-hint>
    </mat-form-field>
</div>
  