<div [formGroup]="form">
  <mat-form-field appearance="outline" [ngClass]="question.type + question.class" style="width: 100%;">
    <mat-label [attr.for]="question.key">{{question.label}}</mat-label>
  
    <ng-container [ngSwitch]="question.controlType">
      <input matInput 
        *ngSwitchCase="'textbox'"
        [id]="question.key"
        [formControlName]="question.key"
        [type]="question.type"
        [placeholder]="question.placeholder"
        [pattern]="question.validators.pattern"
        [required]="question.validators.required"
        [minlength]="question.validators.minLength"
        [maxlength]="question.validators.maxLength"
        [email]="question.validators.email">
      <mat-select
        *ngSwitchCase="'dropdown'"
        [id]="question.key"
        [formControlName]="question.key"
        [required]="question.validators.required"
        [multiple]="question.multiple">
        <mat-option 
          *ngFor="let opt of question.options"
          [value]="opt.key">
          {{opt.value}}
        </mat-option>
      </mat-select>
      <input matInput
        *ngSwitchCase="'date'"
        [id]="question.key"
        [formControlName]="question.key"
        [matDatepicker]="question.picker === 'picker1' ? picker1 : picker2"
        (focus)="question.picker === 'picker1' ? picker1.open() : picker2.open()"
        [required]="question.validators.required">
    </ng-container>
    <mat-datepicker-toggle *ngIf="question.picker === 'picker1'" matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker-toggle *ngIf="question.picker === 'picker2'" matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker1 touchUi></mat-datepicker>
    <mat-datepicker #picker2 touchUi></mat-datepicker>
    <mat-icon matSuffix *ngIf="question.icon">{{ question.icon }}</mat-icon>
    <mat-error *ngIf="!isValid">{{question.error}}</mat-error>
    <mat-hint align="end" *ngIf="question.hint">{{ question.hint }}</mat-hint>
  </mat-form-field>
</div>
