<section class="page-header" [(ngStyle)]="backgroundSetting">
    <div class="card-header flex-col cols-12">
      <div class="card-title flex-row align-items-center">
        <img [src]='logoSrc' class="cols-2 cols-xl-1 cols-xs-6" [routerLink]="[parentFragment, 'home']">
        <div  class="flex-col cols-10 cols-xl-11 cols-sm-6">
          <ng-content select='[splash-page]'></ng-content>
        </div>
      </div>
      <div class="card-subtitle flex-row align-items-center">
        <form class="search flex-col cols-11">
          <mat-form-field>
            <input type="text"
                    placeholder="Pick one"
                    aria-label="Number"
                    matInput
                    [formControl]="searchControl"
                    [style.display]="searchDisplay"
                    [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option (selected)="goTo(option)" *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
    </div>
    <ng-content select='[splash-title]'></ng-content>
    <ng-content select='[splash-subtitle]'></ng-content>
    <div class="card-footer">
        <ng-content select='[splash-buttons]'></ng-content>
        <ng-content select='[splash-text]'></ng-content>
    </div>
</section>