<section class="flex-row">
<mat-card class="sheet-card flex-cols-4">
  <mat-card-header>
    <mat-card-title>
      Search for Your Property
    </mat-card-title>
  </mat-card-header>
  <div class="card-content">
    <form class="search flex-col cols-11">
      <mat-form-field>
        <input type="text"
                [placeholder]="searchType === 'STREET_ADD' ? 'Type in an Address, (e.g., 920 Broad Street)' : 'Type in a Block-Lot (e.g., 5002-40)'"
                aria-label="Search by Address"
                matInput
                [formControl]="searchControl"
                [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="goTo($event)">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{searchType === 'STREET_ADD' ? option.attributes.STREET_ADD : option.attributes.BLOCK_LOT}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div>
        <span style="margin-right: 1rem;">Search by:</span>
        <mat-button-toggle-group #group="matButtonToggleGroup" [value]="searchType" (change)="switchSearchType(group.value)">
          <mat-button-toggle value="STREET_ADD">Street Address</mat-button-toggle>
          <mat-button-toggle value="BLOCK_LOT">Block-Lot</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </form>
  </div>
</mat-card>
</section>
  