<section class="flex-row" [ngSwitch]="(propSub | async) === undefined || (propSub | async).zone === ''">
  <ng-container *ngSwitchDefault>
    <mat-card class="sheet-card" >
      <mat-card-header>
          <mat-card-title>
            <span>Click on the map to get information about a parcel</span>
          </mat-card-title>
        </mat-card-header>
        <div class="card-content">
          <p class="flex-col-12">Make sure to click on a location with an address/blocklot associated to it</p>
        </div>
    </mat-card>
  </ng-container>
  <ng-container *ngSwitchCase="false">
  <mat-card class="sheet-card flex-cols-4">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">        
        <span class="zone {{ (propSub | async).zone.replace('F','') }}">
        {{ (propSub | async).zone }}
        </span>
      </div>
      <mat-card-title (click)="copyVal(mapInput)" [innerHTML]="(propSub | async).proploc ? (propSub | async).proploc : (propSub | async).blocklot | titlecase">
      </mat-card-title>
      <mat-card-subtitle>
        Block {{ (propSub | async).blocklot.split('-')[0] }} | Lot: {{ (propSub | async).blocklot.split('-')[1] }}
      </mat-card-subtitle>
    </mat-card-header>
    <div class="card-content">
      <mat-table [dataSource]="propFields.slice(2,6)" multiTemplateDataRows>
          <ng-container matColumnDef="prop">
              <mat-cell *matCellDef="let row">{{ row.name | titlecase}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="value">
            <mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.prop !== 'propclass'; else propt">
              {{ (propSub | async)[row.prop] }}
              </ng-container>
              <ng-template #propt>
                <div style="display:flex;flex-direction:column">
                  {{ (propSub | async)[row.prop] }} | {{ propClassFilter( (propSub | async)[row.prop]) }}
                </div>
              </ng-template>
            </mat-cell>
          </ng-container>
          <mat-row class="row" *matRowDef="let row; columns: ['prop','value'];" ></mat-row>
        </mat-table>
      </div>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
  <mat-card class="sheet-card">
    <mat-card-header>
        <mat-card-title>
          <span>More Info</span>
        </mat-card-title>
      </mat-card-header>
      <div class="card-content">
        <mat-table [dataSource]="propFields.slice(7,12)" multiTemplateDataRows>
          <ng-container matColumnDef="prop">
              <mat-cell *matCellDef="let row">{{ row.name | titlecase}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="value">
            <mat-cell *matCellDef="let row">  
              <ng-container *ngIf="row.prop !== 'property_t'; else propt">
              {{ (propSub | async)[row.prop] }}
              </ng-container>
              <ng-template #propt>
                <div style="display:flex;flex-direction:column">
                  <span *ngFor="let desc of propT((propSub | async).property_t)">{{desc}}</span>
                </div>
              </ng-template>
            </mat-cell>
          </ng-container>
          <mat-row class="row" *matRowDef="let row; columns: ['prop','value'];" ></mat-row>
        </mat-table>
      </div>
  </mat-card>
  <mat-card class="sheet-card">
    <mat-card-header>
        <mat-card-title>
          <span>Special District Info</span>
        </mat-card-title>
      </mat-card-header>
      <div class="card-content">
        <mat-table [dataSource]="propFields.slice(12,17)" multiTemplateDataRows>
          <ng-container matColumnDef="prop">
              <mat-cell *matCellDef="let row">{{ row.name | titlecase}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="value">
            <mat-cell *matCellDef="let row">  
              <ng-container *ngIf="row.prop !== 'cop_rda'; else rda">
              {{ (propSub | async)[row.prop] && (propSub | async)[row.prop].length > 1 ? ((propSub | async)[row.prop] | titlecase) : 'n/a'}}
              </ng-container>
              <ng-template #rda>
                {{ (propSub | async)[row.prop] ? ((propSub | async)[row.prop].length > 0 | titlecase) : 'n/a'}}
              </ng-template>
            </mat-cell>
          </ng-container>
          <mat-row class="row" *matRowDef="let row; columns: ['prop','value'];" ></mat-row>
        </mat-table>
      </div>
  </mat-card>
  <mat-card class="sheet-card" *ngIf="(propSub | async).redevcode">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image">        
          <span class="zone">
          {{ (propSub | async).redevcode.split('-')[0] }}
          </span>
        </div>
        <mat-card-title>
          <span>Redevelopment Area</span>
        </mat-card-title>
      </mat-card-header>
      <div class="card-content">
        <mat-table [dataSource]="propFields.slice(17)" multiTemplateDataRows>
          <ng-container matColumnDef="prop">
              <mat-cell *matCellDef="let row">{{ row.name | titlecase}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="value">
            <mat-cell *matCellDef="let row">
              <ng-container *ngIf="row.prop === 'redevarea'; else code">
              {{ (propSub | async)[row.prop] }}
              </ng-container>
              <ng-template #code>{{ redevCode((propSub | async).redevcode, '') }}</ng-template>
            </mat-cell>
          </ng-container>
          <mat-row class="row" *matRowDef="let row; columns: ['prop','value'];" ></mat-row>
        </mat-table>
      </div>
  </mat-card>
  <!-- <mat-card class="sheet-card" *ngIf="(propSub | async).h && (propSub | async).historic_d !== 'N/A' || (propSub | async).landmark && (propSub | async).landmark !== 'N/A'">
    <mat-card-header>
        <mat-card-title>
          <span>Historic Designations</span>
        </mat-card-title>
      </mat-card-header>
      <div class="card-content">
        <p *ngIf="(propSub | async).historic_d !== 'N/A'"><span innerHTML="{{ (propSub | async).historic_d }} Historic District"></span></p>
        <p *ngIf="(propSub | async).landmark !== 'N/A'"><span innerHTML="{{ (propSub | async).landmark }}"></span></p>
      </div>
  </mat-card>
  <mat-card class="sheet-card" *ngIf="((propSub | async).historic_d) != 'N/A' || ((propSub | async).landmark) != 'N/A'">
    <mat-card-header>
        <mat-card-title>
          <span>Allowed Building Types</span>
        </mat-card-title>
      </mat-card-header>
      <div class="card-content">
        <p innerHTML="{{ (propSub | async).building_t }}"></p>
      </div>
  </mat-card> -->
  </ng-container>
</section>
