<mat-card class="categories-card" *ngIf="faqCategories.length > 1">
    <mat-card-subtitle>{{catText}}</mat-card-subtitle>
    <div class="categories">
        <div class="categories-item" *ngFor="let cat of faqCategories; let i=index">
            <button mat-stroked-button color="accent" (click)="scrollTo(i)">{{ cat }}</button>
        </div>
    </div>
</mat-card>
<section class="faqContent">
    <div class="faqGroup" *ngFor="let cat of faqCategories; let i=index">
        <h3 [id]="'category' + i" *ngIf="faqCategories.length > 1">
            <mat-divider style="margin: 1rem 0;"></mat-divider>
            {{ cat }}
        </h3>
        <mat-accordion>
            <mat-expansion-panel *ngFor="let faq of faqText | FaqCatPipe:filterCat(cat)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ faq.Question }}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{ faq.Category }}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <P [innerHtml]="faq.Answer"></P>
                <mat-table *ngIf="faq.tableRows" class="faqTable" [dataSource]="faq.tableRows.slice(1)" (mouseleave)="selectedCol = undefined">
                    <ng-container *ngFor="let col of faq.tableRows[0]; let i = index" [matColumnDef]="col" [sticky]="i === 0">
                        <mat-header-cell [ngClass]="selectedCol === i ? 'highlight' : ''" *matHeaderCellDef>{{ col }}</mat-header-cell>
                        <mat-cell class="column-section" style="width: 3rem" [ngClass]="selectedCol === i ? 'highlight' : ''" *matCellDef="let row" (mouseover)="selectedCol = i">
                            <span [innerHtml]="row[i]"></span>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="faq.tableRows[0]; sticky: true"></mat-header-row>
                    <mat-row class="row" *matRowDef="let row; columns: faq.tableRows[0];"></mat-row>
                </mat-table>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</section>