@use '../../../../assets/styles/variables' as *;
.mat-toolbar {
    h2 {
        font-weight: 600;
        white-space: normal !important;
        line-height: normal !important;
    }
    h3 {
        font-size: 1.2rem;
        white-space: normal !important;
        line-height: normal !important;
    }
    .mat-icon {
        margin-top: .25rem;
    }
    .title {
        display: flex;
        height: 2.5rem;
    }
    .subtitle {
        height: 2rem !important;
        line-height: 0;
        margin: 0;
        padding-left: 4rem;
        color: gray;
        -webkit-text-fill-color: gray;
        @media only screen and (max-width: 769px) {
            padding-left: .5rem;
        }
    }
    min-height: 2.85rem !important;
    flex-direction: column;
    align-items: flex-start;
    background: linear-gradient(rgba(183, 28, 28, 0.15) 0%, white 100%);
    padding: 0.5rem 0 0.5rem calc(10vw + 5rem) !important;
    @media only screen and (max-width: 769px) {
        padding: .5rem 0 .5rem 1rem !important;
        h2 {
            font-size: 1.2rem;
        }
        h3 {
            font-size: 1rem;
        }
    }
    @media only screen and (max-width: 576px) {
        padding: .5rem 0 .5rem 1rem !important;
        h2 {
            font-size: 1.15rem;
        }
        h3 {
            font-size: 1rem;
        }
    }
}

.intro-text {
    display: flex;
    font-size: 1.25rem;
    line-height: normal;
    text-align: center;
    font-weight: 600;
    margin: .5rem;
    background-color: #0d47a1;
    border-radius: .25rem;
    flex-wrap: wrap;
    max-width: 1250px;
    div:first-of-type {
        flex: 1 1 66%;
        font-weight: 100;
        color: white;
        -webkit-text-fill-color: white;
        margin: .25rem;
        flex: 1 1 48%;
        display: flex;
        padding: .75rem;
        align-items: center;
    }
    div:last-of-type {
        display: flex;
        flex: 1 1 33%;
        flex-direction: column;
        justify-content: space-around;
        margin: .25rem;
        a {
            display: flex;
            color: #0d47a1;
            -webkit-text-fill-color: #0d47a1;
            justify-content: space-between;
            font-size: 1.25rem;
            margin: .5rem;
            padding: .5rem 1rem;
            text-decoration: none;
            box-shadow: none !important;
            &:hover {
                color: white;
                -webkit-text-fill-color: white;
            }
        }
    }
}

.starting-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1250px;
}

.starting-card {
    flex: 0 1 48%;
    height: auto;
    margin: .5rem;
    display: flex !important;
    flex-direction: column;
    justify-content: space-around;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    box-shadow: none;
    border: .1rem black solid;
    padding: .5rem;
    -webkit-transition: ease-out 200ms;
    transition: ease-out 200ms;
    transition: ease-out 200ms;
    transition: ease-out 200ms, -webkit-transform ease-out 200ms;
    &.disabled {
        pointer-events: none;
        color: lightgrey;
        border-color: lightgrey;
    }
    .card-title {
        display: flex;
        flex-direction: row;
        align-self: stretch;
        font-size: 1.15rem;
        .specialIcon {
            height: 2rem;
            margin: -1rem -0.5rem 0 0;
            padding: 0;
            background: #231f20;
            border-radius: .25rem;
            position: absolute;
            right: 0;
        }
    }
    .card-content {
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        margin: .5rem;
        border: .1rem solid lightgray;
        border-radius: 0.5rem;
        background: whitesmoke;
        -webkit-transition: ease-out 200ms;
        transition: ease-out 200ms;
        transition: ease-out 200ms;
        transition: ease-out 200ms, -webkit-transform ease-out 200ms;
    }
    // &:nth-of-type(1), &:nth-of-type(4) {
    //   background-color: rgb(255, 255, 224);
    //   .card-content {
    //   background-color: rgb(260, 260, 260,.7);
    //   }
    // }
    &:nth-of-type(5),
    &:last-of-type {
        background-color: #0d47a1;
        border-color: #0d47a1;
        color: white;
        font-size: 1rem;
        -webkit-text-fill-color: white;
    }
    &:hover {
        background-color: $primary-color !important;
        box-shadow: none;
        color: white;
        -webkit-text-fill-color: white;
        .card-content {
            background: rgb(13, 71, 161);
        }
        cursor: pointer;
    }
    &:active {
        background-color: $accent-color !important;
        box-shadow: none;
        color: lightslategray;
        -webkit-text-fill-color: lightslategray;
        .card-content {
            background: black;
        }
        cursor: pointer;
    }
}
.section-blocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .section-block {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    margin: 2rem;
      border: 0.85px black solid;
    .mat-card-title {
      font-weight: 100 !important;
      font-size: 2rem;
      line-height: normal;
    }
    .card-body {
      padding: 1rem;
      font-size: 1.15rem;
      line-height: 2rem;
    }
  }
  
mat-table {
    overflow-x: auto;
    overflow-y: hidden;
    tr {
        width: 100%;
        height: 1.5rem;
        &:first-of-type {
            background-color: rgb(13, 71, 161, .1);
        }
        th {
            font-size: 1rem !important;
            font-weight: 500;
            text-align: right;
            padding: 0 1rem;
        }
        td {
            min-width: 15rem;
            font-size: 1rem !important;
            font-weight: normal;
            text-align: right;
            padding: 0 1rem;
        }
        th:first-of-type,
        td:first-of-type {
            text-align: left;
        }
        th:nth-of-type(2),
        td:nth-of-type(2) {
            background-color: rgba(13, 71, 161, .05);
        }
        &:not(:first-of-type):hover {
            background-color:rgb(13, 71, 161, .1);
        }
    }
}
mat-expansion-panel {
    border: .01rem solid rgb(13 71 161/.25);
    box-shadow: 0rem 0.01rem 0.1rem 0 rgba(13,71,161,.3), 0.01rem 0.01rem 0.2rem 0 rgba(13,71,161,.12), 0rem 0.05rem 0.05rem 0rem rgba(13,71,161,.1) !important;
}
@media screen and (min-width: 576px) and (max-width: 1030px) {
    .splash-title,
    .splash-subtitle {
        flex: 1 1 90%;
    }
    .toolbar-spacer {
        display: flex;
        flex: 1 1 5%;
        align-items: center;
        &.right-icon {
            justify-content: flex-end;
        }
        &.left-icon {
            justify-content: flex-start;
        }
    }
    .starting-card {
        flex: 1 1 auto;
    }
}

@media screen and (max-width: 576px) {
    .starting-card {
        flex: 1 1 auto;
    }
}

@media screen and (min-width: 1250px) {
    .intro-text,
    .starting-cards {
        margin: auto;
    }
}