@use '../../../../assets/styles/variables' as *;
.mat-toolbar {
    h2 {
        font-weight: 600;
        white-space: normal !important;
        line-height: normal !important;
    }
    h3 {
        font-size: 1.2em;
        white-space: normal !important;
        line-height: normal !important;
    }
    .mat-icon {
        margin-top: .25em;
    }
    .title {
        display: flex;
        height: 2.5em;
    }
    .subtitle {
        height: 2em !important;
        line-height: 0;
        margin: 0;
        padding-left: 4em;
        color: gray;
        -webkit-text-fill-color: gray;
        @media only screen and (max-width: 769px) {
            padding-left: .5em;
        }
    }
    min-height: 2.85em !important;
    flex-direction: column;
    align-items: flex-start;
    background: linear-gradient(rgba(183, 28, 28, 0.15) 0%, white 100%);
    padding: 0.5em 0 0.5em calc(10vw + 5em) !important;
    @media only screen and (max-width: 769px) {
        padding: .5em 0 .5em 1em !important;
        h2 {
            font-size: 1.2em;
        }
        h3 {
            font-size: 1em;
        }
    }
    @media only screen and (max-width: 576px) {
        padding: .5em 0 .5em 1em !important;
        h2 {
            font-size: 1.15em;
        }
        h3 {
            font-size: 1em;
        }
    }
}

.intro-text {
    font-size: 1.25em;
    line-height: normal;
    text-align: center;
    font-weight: 600;
    margin: .5em;
    background-color: #0d47a1;
    border-radius: .25em;
    flex-wrap: wrap;
    div:first-of-type {
        font-weight: 100;
        color: #fff;
        -webkit-text-fill-color: #fff;
        margin: 0.25em;
        flex: 1 1 55%;
        display: flex;
        align-items: center;
    }
    div:last-of-type {
        display: flex;
        flex: 1 1 40%;
        flex-direction: column;
        justify-content: space-around;
        margin: 0.25em;
        a {
            display: flex;
            color: #0d47a1;
            -webkit-text-fill-color: #0d47a1;
            justify-content: space-between;
            font-size: 1.25em;
            margin: .5em;
            padding: .5em 1em;
            text-decoration: none;
            box-shadow: none !important;
            &:hover {
                color: white;
                -webkit-text-fill-color: white;
            }
        }
    }
}

section.intro-text,
section.section-blocks,
section.starting-cards {
    display: flex;
    align-items: stretch;
}

.starting-cards {
    flex-wrap: wrap;
    justify-content: space-between;
}

.starting-card {
    flex: 1 1 auto;
    margin: 1%;
    width: 20em;
    display: flex !important;
    flex-direction: column;
    justify-content: space-around;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    box-shadow: none;
    border: .1em solid #000;
    padding: .5em;
    -webkit-transition: ease-out 200ms;
    transition: ease-out 200ms, -webkit-transform ease-out 200ms;
    transition: ease-out 200ms;
    &.disabled {
        pointer-events: none;
        color: lightgrey;
        border-color: lightgrey;
    }
    .card-title {
        display: flex;
        flex-direction: row;
        align-self: stretch;
        font-size: 1.15em;
        .specialIcon {
            height: 2em;
            margin: -1em -0.5em 0 0;
            padding: 0;
            background: #231f20;
            border-radius: .25em;
            position: absolute;
            right: 0;
        }
    }
    .card-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em;
        margin: 0.5em;
        border: .1em solid #d3d3d3;
        border-radius: .5em;
        background: #f5f5f5;
        -webkit-transition: ease-out 200ms;
        transition: ease-out 200ms, -webkit-transform ease-out 200ms;
        transition: ease-out 200ms;
    }
    &:nth-of-type(5),
    &:last-of-type {
        background-color: #0d47a1;
        border-color: #0d47a1;
        font-size: 1em;
        color: white;
        -webkit-text-fill-color: white;
    }
    &:hover {
        background-color: $primary-color !important;
        box-shadow: none;
        color: white;
        -webkit-text-fill-color: white;
        .card-content {
            background: rgb(13, 71, 161);
        }
        cursor: pointer;
    }
    &:active {
        background-color: $accent-color !important;
        box-shadow: none;
        color: lightslategray;
        -webkit-text-fill-color: lightslategray;
        .card-content {
            background: black;
        }
        cursor: pointer;
    }
}

.section-block {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.5em;
    flex: 1 1 auto;
    border: .01em solid #000;
    .mat-card-title {
        font-weight: 100 !important;
        font-size: 2em;
        line-height: normal;
    }
    .card-body {
        padding: 1em;
        font-size: 1.15em;
        line-height: 2em;
    }
}

mat-table {
    overflow-x: auto;
    overflow-y: hidden;
    tr {
        width: 100%;
        height: 1.5em;
        &:first-of-type {
            background-color: rgb(13, 71, 161, .1);
        }
        th {
            font-size: 1em !important;
            font-weight: 500;
            text-align: right;
            padding: 0 1rem;
        }
        td {
            font-size: 1em !important;
            font-weight: normal;
            text-align: right;
            padding: 0 1em;
        }
        th:first-of-type,
        td:first-of-type {
            text-align: left;
        }
        th:nth-of-type(2),
        td:nth-of-type(2) {
            background-color: rgba(13, 71, 161, .05);
        }
        &:not(:first-of-type):hover {
            background-color: rgb(13, 71, 161, .1);
        }
    }
}

mat-expansion-panel {
    border: .01em solid rgb(13, 71, 161, .25);
    box-shadow: 0em 0.01em 0.1em 0 rgba(13, 71, 161, .3), 0.01em 0.01em 0.2em 0 rgba(13, 71, 161, .12), 0em 0.05em 0.05em 0em rgba(13, 71, 161, .1) !important;
}

@media screen and (min-width: 576px) and (max-width: 1030px) {
    .splash-title,
    .splash-subtitle {
        flex: 1 1 90%;
    }
    .toolbar-spacer {
        display: flex;
        flex: 1 1 5%;
        align-items: center;
        &.right-icon {
            justify-content: flex-end;
        }
        &.left-icon {
            justify-content: flex-start;
        }
    }
}