@use './variables' as *;
@use '../../../node_modules/@angular/material/theming' as *;
@include mat-core();
$nwk-theme: mat-light-theme($nwk-primary-colors, $nwk-accent-colors, $nwk-warn-colors);
@include angular-material-theme($nwk-theme);
$custom-typography: mat-typography-config( $font-family: 'Segoe UI, sans-serif', $headline: mat-typography-level(32px, 48px, 700), $body-1: mat-typography-level(16px, 24px, 500));
// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat-base-typography($custom-typography);
// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($custom-typography);
// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);
.mat-drawer-container {
    color: unset !important;
}

.map-buttons-top {
    &.right {
        top: 1rem;
        right: 2rem;
    }
    &.left {
        top: 3rem;
        left: 3rem;
        @media screen and (max-width: 576px) {
            top: 1rem;
            left: 2rem;
        }
    }
    &.left-mini {
        top: 1rem;
        left: 2rem;
    }
    position:absolute;
    &.sat {
        .general-button:not(.split),
        .split {
            box-shadow: 0 3px 10px black;
        }
    }
}
.general-button {
    span {
        display: flex;
        flex-direction: row;
        margin-left: .5rem;
    }
    mat-icon {
        font-size: 1.5rem;
    }
    background: white;
    font-family: 'Segoe UI',
    'Open Sans',
    sans-serif;
    display: flex;
    margin: 1vh 0;
    height: 2.75rem;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    font-size: 1.25rem;
    border: none;
    border-top: 2px solid !important;
    border-radius: .25rem;
    box-shadow: 0px 3px 10px lightgray;
    min-width: 1rem;
    padding: 0 .5em;
    cursor: pointer;
    &.inverted {
        background: #0d47a1;
        color: white;
    }
    &.split {
        flex-direction: column;
        height: 7.5rem;
        padding: 0 !important;
        hr {
            width: 75%;
            margin: auto 0;
            border-width: .5px;
            border-color: rgba(0, 0, 0, .2);
        }
        button {
            flex: 1 1 35%;
            cursor: pointer;
            background: white;
            border: none;
            width: 100%;
            &:first-of-type {
                border-top-left-radius: .25rem;
                border-top-right-radius: .25rem;
            }
            &:nth-of-type(2) {
                flex: 1 1 30%;
                mat-icon {
                    font-size: 1.25rem !important
                }
            }
            &:last-of-type {
                border-bottom-left-radius: .25rem;
                border-bottom-right-radius: .25rem;
            }
        }
    }
}

.mat-snack-bar-container {
    width: 20rem;
    color: black;
    background: none;
    box-shadow: none;
    font-family: inherit;
    button {
        color: white;
        background-color: black;
        border: 1px solid black;
        border-radius: .15rem;
        width: 80%;
        margin: .25rem auto;
        height: 2rem;
        cursor: pointer;
    }
    .toast-message {
        background: white;
        height: 10vh;
        font-size: unset;
        .toast-close-icon {
            color: black;
        }
    }
}

.general-button:hover:not(.split),
.split button:hover,
.mat-snack-bar-container button:hover,
.menuBtns:hover,
.menuRadio:hover {
    background-color: $primary-color !important;
    box-shadow: none;
    color: white;
}

.general-button:active:not(.split),
.split button:active,
.mat-snack-bar-container button:active,
.menuBtns:active,
.menuRadio:active {
    background-color: yellow !important;
    box-shadow: none;
    color: lightslategray;
}

.ol-scale-line {
    background: rgba(0, 0, 0, .5) !important;
    border-radius: .2rem !important;
    bottom: .5rem !important;
    left: .5rem !important;
    padding: .1rem !important;
    // @media screen and (max-width: 576px) {
    //     left: 1.1rem !important;
    //     padding: 0.1rem !important;
    //     top: 4rem !important;
    //     bottom: unset !important;
    // }
}

.map-frame-mini .ol-scale-line {
    background: rgba(0, 0, 0, .5) !important;
    border-radius: .2rem !important;
    bottom: .5rem !important;
    left: .5rem !important;
    padding: .1rem !important;
    @media screen and (max-width: 769px) {
        left: 1.1rem !important;
        padding: 0.1rem !important;
        top: 4rem !important;
        bottom: unset !important;
    }
}

.ol-attribution {
    &.ol-collapsed {
        background-color: transparent !important;
    }
    &:not(.ol-collapsed) {
        background-color: white !important;
    }
    right: 0.5rem !important;
    bottom: 0.5rem !important;
    ul {
        &::before {
            content: "Attributions";
            font-size: 1rem;
            display: block;
            font-weight: 700;
            text-align: center;
        }
        max-width: 20rem;
        list-style-type: circle;
        text-align: center;
        li {
            font-size: .9rem;
            &:not(:last-child)::after {
                content: ", ";
            }
        }
    }
    button {
        background-color: rgba(0, 0, 0, 0.5) !important;
        border-radius: .2rem !important;
        cursor: pointer;
    }
}

.ol-scale-line-inner {
    border: .1rem solid white !important;
    border-top: none !important;
    color: white !important;
    margin: .2rem !important;
    font: .85rem "Segoe UI" !important;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-bottom-sheet-container {
    height: 66vh !important;
}

app-bottomsheet .mat-tab-body-wrapper {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
    .mat-tab-body-content {
        scrollbar-width: thin !important;
        scrollbar-color: #09306d whitesmoke;
    }
}

.mat-tooltip {
    // making the font size on the mat-tooltip 1.5rem globally
    font-size: 1.1rem;
    &.legend-tooltip {
        // to modify the tooltip create a class like this
        font-size: 1.2rem;
    }
}

#appTabs .mat-tab-header {
    box-shadow: inset .1rem .1rem 0.5rem rgba(0, 0, 0, .6);
    .mat-tab-label {
        opacity: 1;
        color: rgba(0, 0, 0, .6);
        -webkit-text-fill-color: rgba(0, 0, 0, .6);
        &-active {
            color: white;
            -webkit-text-fill-color: white;
            box-shadow: inset .1rem .1rem 0.5rem rgb(0, 0, 0);
            background-color: rgb(103, 58, 183);
        }
    }
}

.mat-button-toggle-label-content {
    line-height: inherit !important;
    padding: .25rem !important;
    min-width: 3rem;
}

.mat-standard-chip {
    min-height: 1rem !important;
    padding: .66rem .5rem !important;
    background-color: lightgrey !important;
    font-weight: 300 !important;
    &.RedevelopmentPlan {
        background-color: lightblue !important;
    }
    &[class*='Ward'] {
        background-color: lightyellow !important;
    }
}

.mat-chip {
    font-size: .8rem !important;
}